.h-contact
    display: flex
    flex-direction: column
    justify-content: center
    p
        margin: 0
.subheader-menu
    background:  #fed700
    height: 55px
    display: flex
    align-items: center
    .g-container
        display: flex
        justify-content: space-between
        align-items: center
    .v-text-field.v-text-field--solo .v-input__control
        min-height: 40px
    .v-input__append-outer
        margin: 0
        background: #333e48
    .v-text-field.v-text-field--solo .v-input__append-outer, .v-text-field.v-text-field--solo .v-input__prepend-outer
        margin-top: 0
    .v-input__append-outer
        width: 60px
        height: 40px
        display: flex
        align-items: center
    .v-input__slot
        box-shadow:  none !important
        border-top-left-radius: 50px !important
        border-bottom-left-radius: 50px !important
    .v-input__append-outer
        border-top-right-radius: 50px !important
        border-bottom-right-radius: 50px !important
.subheader-search
    max-width: 590px
    display: flex
    align-items: center
    i
        color: #fff !important
        width: 60px
        font-size: 18px