@import './header.sass'

body
    font-family: 'Open Sans', sans-serif !important

.g-container
    max-width: 1180px
    margin: auto
    width: 100%
.container-no-top
    padding-top: 20px
//CARROUSEL 
.carousel_container
    width: 870px
    margin: 0 0 0 auto
    img
        max-width: 100%
        height: auto
        display: block
    .VueCarousel-pagination
        position: absolute
        bottom: 0
        left: 0
        right: 0
.carousel-coment
    position: absolute
    left: 45px
    top: 65px
    p,span
        text-transform: uppercase
        color: #333e48
    span
        font-size: 16px
        color: #34bcec
        font-weight: 700
        margin-bottom: 20px
        display: block
    strong
        font-weight: 700px
    p
        font-size: 43px
        margin: 0
        font-weight: 300
        max-width: 420px
        line-height: 47px